@use 'datauris' as *;
@use 'styles/mixins/responsive' as *;

.kinetics-card {
  --panel--image: url('#{get-pk-uri('#b5c0e8')}');
  --panel--image--size: 90%;
  --panel--icon--size: 105%;
}

.elder-drug-card {
  --panel--image: url('#{get-elder-drug-uri('#b5c0e8')}');
  --panel--image--size: 80%;
  --panel--icon--size: 65%;
}

.expansion-panel {
  --expand-card--header-font: var(--title-font);
  --expand-card--content-font: var(--body-font);
}

.expansion-panel .card--title-1 {
  color: var(--gray-12);
  display: content;
  font-family: var(--expand-card--header-font);
  font-size: 22pt;
  font-weight: 400;
  margin: 0;
  @include media-size('zero', 'medium') {
    color: var(--primary-3);
    font-weight: 500;
    margin-left: 0.5rem;
    text-shadow: rgb(24 55 88) 0 1px 0;
  }
}

.expansion-panel .card--title-2 {
  font-size: 18pt;
  font-weight: 600;
}

.expansion-panel .card--title-3 {
  font-size: 16pt;
  font-weight: 500;
}

.expansion-panel .card--title-3::after {
  content: none;
}

.expansion-panel .card--description {
  font-family: var(--body-font);
  font-size: 12pt;
}
