@use 'styles/mixins/shadow-root' as root;
@use 'styles/mixins/button' as *;

:host {
  @include root.state(':hover') {
  }
  @include root.state(':focus') {
  }
  font-size: 1rem;
  text-shadow: 0 0 2px var(--secondary-14);
  width: 20ch;

  @include root.state('[aria-pressed="true"]') {
    @extend %button--tertiary;
    background-image: linear-gradient(var(--secondary-3), var(--secondary-1));
  }
  @include root.state('[aria-pressed="false"]') {
    @extend %button--secondary;
  }
}
