/**Took breakpoints from web.dev site for convenience...nothing super radical tho*/

// =============================================================================
// BREAKPOINTS OVERVIEW
//
// Media query breakpoints used across the site.
//
// =============================================================================
// sass-lint:disable variable-name-format
$BREAKPOINT_VALUE_SMALL: 600px;
// Tablets
$BREAKPOINT_VALUE_MEDIUM: 850px;
// Media breakpoint helper
// Credit: http://css-tricks.com/conditional-media-query-mixins/
@mixin bp($point) {
    @if $point==sm {
        @media (max-width: #{$BREAKPOINT_VALUE_SMALL}) {
            @content;
        }
    }
    @else if $point==md {
        @media (max-width: #{$BREAKPOINT_VALUE_MEDIUM}) {
            @content;
        }
    }
}

// =============================================================================
// FUNCTIONS OVERVIEW
//
// Helper functions used throughout the site.
//
// =============================================================================
// sass-lint:disable variable-name-format
// Sets unitless line-height based on line-height and font-size
// Improves accessibility and prevents text from overlapping if users change
// their default font size in chrome://settings/fonts.
// @param {string} $line-height Value for line-height, in pixels
// @param {string} $font-size Value for font-size, in pixels
@function calculate_unitless_line_height($line_height, $font_size) {
    @return $line_height / $font_size;
}

// Pixels to ems.
@function px-to-em($px) {
    @return $px / $base-font-size * 1em;
}

// Pixels to rems.
@function px-to-rem($px) {
    @return $px / $base-font-size * 1rem;
}

@mixin shadow($depth) {
    box-shadow: 0 1px * $depth 2px * $depth rgb(87 107 138 / #{12% * $depth});
}

@mixin hoverable-shadow($depth) {
    &:hover::after {
        opacity: 0.8;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: inherit;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
        margin: 0px;
        @include shadow($depth);
    }
}

@mixin reset-link {
    & a,
    & a:hover,
    & a:focus,
    & a:active {
        text-decoration: none;
        color: inherit;
    }
}

@mixin reset-list {
    list-style-type: none;
    margin-block: 0px;
    padding-inline: 0px;
}

@mixin media-size($size) {
    @if $size==xsmall {
        @media (max-width: 599.99px) {
            @content;
        }
    }
    @else if $size==small {
        @media (min-width: 600px) and (max-width: 899.99px) {
            @content;
        }
    }
    @else if $size==medium {
        @media (min-width: 900px) and (max-width: 1199.99px) {
            @content;
        }
    }
    @else if $size==large {
        @media (min-width: 1200px) and (max-width: 1799.99px) {
            @content;
        }
    }
    @else if $size==extraLarge {
        @media (min-width: 1800px) {
            @content;
        }
    }
}