@use 'mixins' as *;
@use 'styles/mixins/shadow-root' as root;

@use 'styles/mixins/responsive' as *;

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.transition--fade-in {
  animation-name: fade-in;
  animation-timing-function: cubic-bezier(0.43, 0.04, 1, -0.1);
  animation-duration: calc(var(--item--index) * 75ms);
  animation-iteration-count: 1;
}
:host {
  width: inherit;
  //Layout
  display: list-item;
  padding-left: 0.5em;
  //Transforms
  will-change: transform;
  transition: 0.3s ease-in-out 0s;
  transform: translateY(
    calc(-1 * (var(--item--offset, 0) * var(--item--height, 0)))
  );
  transition-property: transform opacity;
  //Misc
  font: var(--item--font);
  min-width: 15ch;
  outline: none;
  @media (prefers-reduced-motion) {
    transition: none;
    transform: none;
    opacity: 1;
  }
  @include media-size(zero, small) {
    width: inherit;
  }
  @include root.state('[hidden]') {
    will-change: transform;
    transform: translateY(calc(-1 * (var(--item--offset, 0))));
  }

  .sublist {
    visibility: hidden;
    opacity: 0;
    margin: 0px;
    padding: 0px 0px 0px 1rem;
    list-style-type: none;
    @media (prefers-reduced-motion) {
      visibility: visible;
    }
    @include root.state('[expanded]') {
      visibility: visible;
      opacity: 1;
    }
  }
}

.item {
  &__content {
    display: grid;
    grid-template-areas: 'icon link button';
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
    height: var(--item--height);

    &__prefix {
      grid-area: icon;
    }
    @include media-size(zero, small) {
      width: inherit;
    }

    &__a {
      text-decoration: none;
      grid-area: link;
      box-sizing: border-box;

      @include mix-text-ellipsis;

      :host([active]) & ::slotted(*) {
        color: var(--primary-8);
      }
    }
    &__link {
      font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    &__suffix {
      width: var(--item--height);
      grid-area: button;
    }
    :host([top-level]) &__link {
      font-weight: 500;
    }
  }
}
