@use 'styles/mixins/shadow-root' as root;
@use 'styles/mixins/responsive' as *;

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/*
.transition--fade-in {
  animation-name: fade-in;
  animation-timing-function: cubic-bezier(0.43, 0.04, 1, -0.1);
  animation-duration: calc(var(--list-item--index) * 75ms);
  animation-iteration-count: 1;
}*/
:host {
  color: var(--list-item--font-color);
  display: list-item;
  font: var(--list-item--font);
  line-height: 1.2rem;
  list-style-type: none;
  min-width: 15ch;
  outline: none;
  padding-left: 0.5em;
  pointer-events: none;
  width: inherit;
  @media (prefers-reduced-motion) {
    opacity: 1;
    transform: none;
    transition: none;
  }
  @include media-size(zero, medium) {
    display: none;
    width: inherit;
    @include root.state('[top-level]') {
      display: block;
      font-size: 2.25rem;
      min-width: auto;
      padding: 2rem 0;
    }
  }

  //If the user is interested in having items expand when the client scrolls past their respective sections, this section handles most of the related styling
  /* will-change: transform;
  transition: 0.3s ease-in-out 0s;
  transform: translateY(
    calc(-1 * (var(--list-item--offset, 0) * var(--list-item--height, 0)))
  );
  transition-property: transform opacity;
  @include root.state('[hidden]') {
    will-change: transform;
    transform: translateY(calc(-1 * (var(--list-item--offset, 0))));
  }*/

  .sublist {
    margin: 0;
    padding: 0 0 0 1rem;
    pointer-events: none;
    /* visibility: hidden;
     opacity: 0;*/
    /* @media (prefers-reduced-motion) {
      visibility: visible;
    }
    @include root.state('[expanded]') {
      visibility: visible;
      opacity: 1;
    }*/
  }
}

.item {
  margin: 0.5rem 0;

  &__content {
    align-items: center;
    display: grid;
    grid-template-areas: 'icon link button';
    grid-template-columns: 2fr 8fr 2fr;
    @include media-size(zero, small) {
      width: inherit;
    }
    //height: var(--list-item--height);

    &__prefix {
      grid-area: icon;

      @include media-size(zero, medium) {
        display: none;
      }

      :host(:not([top-level])) & {
        padding-right: 1rem;
      }
    }

    &__a {
      box-sizing: border-box;
      grid-area: link;
      pointer-events: all;
      text-decoration: none;
      z-index: 5;
    }

    &__link {
      color: var(--list-item--font-color);

      font-family: var(--list-item--font-family);

      :host & {
        @include root.state('[active]') {
          color: var(--primary-10);
          @include media-size(zero, medium) {
            color: var(--primary-5);
          }
        }
        @include root.state('[top-level]') {
          @include media-size(zero, medium) {
            text-align: center;
          }
        }
        @include media-size(zero, medium) {
          &:hover {
            color: var(--secondary-4);
          }
        }
      }
    }

    &__suffix {
      grid-area: button;
      width: var(--list-item--height);
    }

    :host([top-level]) &__link {
      font-weight: 500;
    }
  }
}

.toc-container {
  display: contents;
}
