@use 'mixins/fonts' as *;
@use 'mixins/shadows' as *;
@use 'mixins/responsive' as *;
:host {
  --timeline--marker-size: 0.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
h2,
h3,
h4,
h5 {
  margin-top: 0em;
  margin-bottom: 0.25em;
}
:host {
  display: block;
  background: white;
}
%minor-text {
  font-size: 10pt;
  font-weight: 400;
}
.entry {
  display: grid;
  grid-template-areas: 'date timeline content expand';
  grid-template-columns: 80px 1px 1fr 30px;
  position: relative;
  gap: 1rem;
  border-radius: 5px;
  background-color: white;

  @include media-size(zero, small) {
    grid-template-areas: 'timeline date date' 'timeline content expand';
    grid-template-columns: 1px 1fr 50px;
    grid-template-rows: 20px 1fr;
  }
  //@include hoverable-shadow(3);
  &__left {
    display: flex;
    justify-content: flex-end;
    grid-area: date;
    @include media-size(zero, small) {
      justify-content: flex-start;
    }
  }
  &__timeline {
    grid-area: timeline;
    background-color: lightgray;

    &::after {
      color: var(--gray-6);
      --timeline--marker-size: 0.6rem;
      position: absolute;
      content: '';
      height: var(--timeline--marker-size);
      width: var(--timeline--marker-size);
      border-radius: 50%;
      background-color: currentColor;
      transform: translate(calc(var(--timeline--marker-size) * -0.43), 0.3rem);
      box-shadow: 0 0 5px 3px white;
      transition: color 0.3s ease-in;
      :host([active]) & {
        color: var(--primary-9);
      }
    }
  }
  &__right {
    grid-area: content;
    padding-bottom: 0.5rem;
  }
  &__expand {
    grid-area: expand;
    &__button {
      height: 2rem;
      width: 2rem;
    }
  }
  &__date {
    display: block;
    font-size: 9pt;
    color: var(--gray-13);
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 0.15rem;
    & ::slotted(*) {
      color: var(--gray-11);
      transition: color 0.3s ease-in;
    }
    :host([active]) & ::slotted(*) {
      color: var(--primary-9);
    }
  }
  &__title {
    cursor: pointer;
    :hover {
      text-decoration: underline;
    }
    & ::slotted(*) {
      font-size: 12pt;
      color: var(--gray-13);
    }
  }
  &__logistics ::slotted(*) {
    font-size: 11pt;
    color: var(--gray-12);
    font-weight: 400;
  }

  &__supervisor {
    color: var(--gray-11);
    *::slotted(*) {
      @extend %minor-text;
    }
  }

  &__description {
    margin: 0px;
    *::slotted(*) {
      @extend %minor-text;
    }
  }

  &__detail {
    margin: 0px;

    *::slotted(*) {
      @extend %minor-text;
    }
  }
  &__expansion {
    margin: 0px;
    transform: scale(1);
    opacity: 1;
    transition-property: opacity transform;
    transition: 0.35s ease-in-out;
    visibility: visible;
    :host([collapsed]) &,
    :host(.is-collapsing) & {
      transform: scale(0.8);
      opacity: 0;
      visibility: hidden;
    }
    :host([collapsed].is-expanding) & {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }
}

.expand__v {
  transform: rotate(-90deg);
  transform-origin: center center;
  transition: transform 0.35s ease-in-out;

  :host([collapsed]) &,
  :host(.is-collapsing) & {
    transform: rotate(0deg);
  }
  :host(.is-expanding) & {
    transform: rotate(-90deg);
  }
}

.expand {
  transform: rotate(0deg);
  transform-origin: center center;
  transition: transform 0.35s ease-in-out;
  color: var(--gray-7);
  cursor: pointer;
  &:hover {
    color: var(--primary-11);
  }
  :host([collapsed]) &,
  :host(.is-collapsing) & {
    transform: rotate(-180deg);
  }
  :host(.is-expanding) & {
    transform: rotate(0deg);
  }
}
