@use 'mixins/fonts' as *;
@use 'mixins/shadows' as *;

h2,
h3,
h4,
h5 {
  margin-top: 0em;
  margin-bottom: 0.25em;
}
:host {
  height: fit-content;
  width: fit-content;
  display: block;
  padding: 10px;
}
.entry {
  display: grid;
  grid-template-columns: 200px 1fr;
  position: relative;
  border-radius: 5px;
  border: 1px solid lightgray;
  @include hoverable-shadow(3);
  &__left {
    grid-column: 1 / 2;
    display: block;
    &::after {
      position: absolute;
      content: '';
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      border: 2px solid blue;
    }
  }
  &__right {
    grid-column: 2 / 3;
  }
  &__date {
    display: block;
    &::slotted(*) {
      font-size: 11pt;
      color: var(--gray-13);
    }
  }
  &__title ::slotted(*) {
    font-size: 12pt;
    color: var(--gray-13);
  }
  &__logistics ::slotted(*) {
    font-size: 11pt;
    color: var(--gray-12);
    font-weight: 400;
  }

  &__supervisor ::slotted(*) {
    font-size: 10pt;
    font-weight: 400;
    color: var(--gray-11);
  }

  &__description ::slotted(*) {
    font-size: 10pt;
    font-weight: 400;
  }

  &__detail ::slotted(*) {
    all: unset;
    font-size: 10pt;
    font-weight: 400;
  }
}
