@use 'mixins/fonts' as *;
@use 'mixins/shadows' as *;
@use 'mixins/responsive' as *;

:host {
  --timeline--marker-size: 0.6rem;
  font-family: var(--body-font);
}

h2,
h3,
h4,
h5 {
  margin-bottom: 0.25em;
  margin-top: 0;
}

:host {
  background: white;
  display: block;
}
%minor-text {
  font-size: 10pt;
  font-weight: 400;
}

.entry {
  background-color: white;
  border-radius: 5px;
  display: grid;
  gap: 1rem;
  grid-template-areas: 'date timeline content expand';
  grid-template-columns: 80px 1px 1fr 30px;
  position: relative;

  @include media-size(zero, small) {
    grid-template-areas: 'timeline date date' 'timeline content expand';
    grid-template-columns: 1px 1fr 50px;
    grid-template-rows: 20px 1fr;
  }
  //@include hoverable-shadow(3);
  &__date {
    display: flex;
    grid-area: date;
    justify-content: flex-end;
    color: var(--gray-9);
    flex-wrap: wrap;
    font-size: 9pt;
    font-weight: 500;
    padding-top: 0.15rem;
    text-align: right;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    align-content: flex-start;
    line-height: 1.5;
    > * {
      height: 1.4em;
    }
    :host([active]) & {
      color: var(--primary-9);
    }
    @include media-size(zero, small) {
      align-content: center;
      justify-content: flex-start;
    }
  }

  &__timeline {
    background-color: lightgray;
    grid-area: timeline;
    transition: transform 0.3s ease-in;

    &::before {
      background-color: var(--gray-3);
      content: '';
      height: 100%;
      opacity: 0;
      position: absolute;
      transform: scaleY(1);
      transform-origin: top center;
      transition: transform 350ms ease-out;
      width: 1px;

      :host(.is-expanding) & {
        opacity: 1;
        transform: scaleY(calc(var(--offset-ratio, 2) / 0.8));
      }
    }

    &::after {
      --timeline--marker-size: 0.6rem;
      background-color: currentColor;
      border-radius: 50%;
      box-shadow: 0 0 5px 3px white;
      color: var(--gray-6);
      content: '';
      height: var(--timeline--marker-size);
      position: absolute;
      transform: translate(calc(var(--timeline--marker-size) * -0.43), 0.3rem);
      transition: color 0.3s ease-in;
      width: var(--timeline--marker-size);

      :host([active]) & {
        color: var(--primary-9);
      }
    }
  }

  &__content {
    grid-area: content;
    padding-bottom: 0.5rem;
  }

  &__expand {
    grid-area: expand;

    &__button {
      height: 2rem;
      width: 2rem;
    }
  }

  &__name {
    color: var(--gray-13);
    cursor: pointer;
    font-size: 12pt;

    :hover {
      text-decoration: underline;
    }
  }

  &__logistics {
    color: var(--gray-12);
    font-size: 11pt;
    font-weight: 400;
  }

  &__supervisor {
    @extend %minor-text;
    color: var(--gray-11);
  }

  &__description,
  &__detail {
    @extend %minor-text;
    margin: 0;
  }

  &__expansion {
    height: auto;
    margin: 0;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
    visibility: visible;

    :host([collapsed]) &,
    :host(.is-collapsing) & {
      height: 0;
      opacity: 0;
      transform: scale(0.8);
      visibility: hidden;
    }

    :host([collapsed].is-expanding) & {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }
}

.expand__v {
  transform: rotate(-90deg);
  transform-origin: center center;
  transition: transform 0.35s ease-in-out;

  :host([collapsed]) &,
  :host(.is-collapsing) & {
    transform: rotate(0deg);
  }

  :host(.is-expanding) & {
    transform: rotate(-90deg);
  }
}

.expand {
  color: var(--gray-8);
  cursor: pointer;
  outline: none;
  transform: rotate(0deg);
  transform-origin: center center;
  transition: transform 0.35s ease-in-out;

  :focus & {
    color: var(--primary-10);
  }

  &:hover {
    color: var(--primary-11);
  }

  :host([collapsed]) &,
  :host(.is-collapsing) & {
    transform: rotate(-180deg);
  }

  :host(.is-expanding) & {
    transform: rotate(0deg);
  }
}

.mobile {
  display: none;
  @include media-size('zero', 'small') {
    display: inline;
  }
}

.icon-button {
  outline: none;
}

hicks-expansion-toggle {
  --icon-button--outline: var(--primary-8);
  --icon-button--active-outline: var(--primary-10);
  --icon-button--background: var(--primary-3);
}

.separator {
  font-size: 1em;
  &__dates {
    display: none;
    @include media-size(zero, small) {
      display: inline;
      padding: 0 0.25rem;
    }
  }
}
