@use 'mixins/shadows' as *;
@use 'mixins/borders' as *;
@use 'mixins/shadow-root' as root;
@use 'mixins/button' as *;
@use 'mixins/responsive' as *;

:host {
  --expand-card--content-font: sans-serif;
  --expand-card--header-font: sans-serif;
  --expand-card--padding: 1rem;
  opacity: 1;
  transition: opacity 1s ease;
  display: block;
}

p ::slotted([slot='description']) {
  font: 11pt;
  color: var(--gray-10);
  font-family: var(--expand-card--content-font);
}
.header {
  padding: 0px var(--expand-card--padding);
  @include media-size(zero, medium) {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 1em;
    background: var(--primary-11);
    margin: 0px;
    @include radius('top', 7px);
    &__title {
      font-size: 18pt;
    }
    &::before {
      background-image: var(--panel--image);
      height: 2.5em;
      width: 2.5em;
      content: ' ';
      display: inline-block;
      background-repeat: no-repeat;
      position: relative;
      background-origin: 50% 50%;
      background-position: center;
      background-size: var(--panel--icon--size);
    }
  }
  ::slotted([slot='header']) {
    margin: 0px;
    margin-block: 0px;
    display: content;
    font-size: 22pt;
    color: var(--gray-12);
    font-family: var(--expand-card--header-font);
    font-weight: 400;
    @include media-size(zero, medium) {
      color: var(--primary-3);
      text-shadow: rgb(24 55 88) 0px 1px 0px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

.expansion {
  all: unset;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-areas: 'image content';
  background-color: white;
  text-align: left;
  gap: 1em;
  box-shadow: 0 0 0 1px var(--gray-2);
  border-radius: 7px;
  filter: brightness(1);
  width: 100%;

  @include media-size(zero, medium) {
    grid-template-areas: 'content';
    grid-template-columns: 100%;
  }
  @include hoverable-shadow(3);
  :host(:hover) & {
    box-shadow: 0 0 0 1px var(--gray-1);
  }
  :host:not([collapsed]) & {
    border-bottom-right-radius: 0px;
  }

  &__img {
    grid-area: image;
    height: inherit;
    width: 100%;
    background-color: var(--primary-10);
    background-image: var(--panel--image);
    transition: background-size 500ms ease, filter 500ms ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--panel--image--size);
    @include radius('left', 7px);
    @include media-size(zero, medium) {
      display: none;
      border-radius: 7px;
    }

    :host(:not([collapsed])) & {
      border-bottom-left-radius: 0px;
    }
  }
  &__content {
    grid-area: content;
    background: white;
    color: var(--gray-8);
    overflow: auto;
    max-height: inherit;
    @include radius('right', 7px);
    @include media-size(zero, medium) {
      border-radius: 7px;
    }
    :host(:not([collapsed])) & {
      border-bottom-right-radius: 0px;
    }

    &__padding {
      padding: 0.5rem;
    }
  }
}
.ruler {
  border: 2px solid var(--primary-8);
  width: 3em;
  margin-left: var(--expand-card--padding);
  border-width: 2px 0px 0px 0px;
  @include media-size(zero, medium) {
    width: 100%;
    margin: 0px;
  }
}
.panel {
  @include radius('bottom', 8px);
  visibility: visible;
  padding: 10px;
  background-color: var(--primary-8);
  transform: scale(1) translateY(0px);
  transition-property: transform opacity;
  transition: 250ms ease-out;
  opacity: 1;
  font-family: var(--body-font);
  &__padding {
    border-radius: 7px;
    background: rgb(242 242 242);
    padding: 10px;
  }

  :host([collapsed]:not(.is-expanding)) &,
  :host(.is-collapsing) & {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5) translateY(-150px);
  }
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px var(--expand-card--padding);
  @include media-size(zero, medium) {
    border-radius: 7px;
    padding: 1rem;
  }
  &__icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;
    ::slotted([slot='icon']) {
      filter: grayscale(1);
      padding: 0.5rem;
      border: 1px solid var(--primary-5);
      max-height: 2rem;
      &:hover {
        filter: grayscale(0);
      }
    }
    ::slotted([slot='icon']:hover) {
      filter: grayscale(0);
    }
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}
p {
  margin-right: 1em;
}
.body {
  --panel--max-height: 200px;
  padding: 0px var(--expand-card--padding);
  max-height: var(--panel--max-height);
  overflow: auto;
  min-height: 100px;
}

.button--text {
  all: unset;
  padding: 0.5em 0.75em;
  margin: 1em;
  font-family: var(--expand-card--content-font);
  color: var(--primary-10);
  font-weight: 500;
  border-radius: 5px;
  min-width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-4);
  }
  &:active {
    background-color: var(--primary-6);
    box-shadow: inset 0 0 0 1px var(--primary-10);
  }
  &:focus {
    box-shadow: inset 0 0 0 1px var(--primary-8);
  }
}
