@use 'mixins/shadows' as *;
@use 'mixins/borders' as *;
@use 'mixins/shadow-root' as root;
@use 'mixins/button' as *;
@use 'mixins/responsive' as *;

:host {
  --expand-card--content-font: sans-serif;
  --expand-card--header-font: sans-serif;
  --expand-card--padding: 1rem;
  display: block;
  opacity: 1;
  transition: opacity 1s ease;
}

.header {
  padding: 0 var(--expand-card--padding, 1rem);
  @include media-size(zero, medium) {
    @include radius('top', 7px);
    align-items: center;
    background: var(--primary-11);
    display: flex;
    gap: 1em;
    margin: 0;

    &__title {
      font-size: 18pt;
    }

    &::before {
      background-image: var(--panel--image);
      background-origin: 50% 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: var(--panel--icon--size);
      content: ' ';
      display: inline-block;
      height: 2.5em;
      position: relative;
      width: 2.5em;
    }
  }

  ::slotted([slot='header']) {
    color: var(--gray-12);
    display: content;
    font-family: var(--expand-card--header-font);
    font-size: 22pt;
    font-weight: 400;
    margin: 0;
    margin-block: 0;
    @include media-size(zero, medium) {
      color: var(--primary-3);
      font-weight: 600;
      letter-spacing: 1px;
      text-shadow: rgb(24 55 88) 0 1px 0;
    }
  }
}

.expansion {
  @include hoverable-shadow(3);
  all: unset;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 0 1px var(--gray-2);
  //I added this because it formats way better with safari
  display: flex;

  flex-direction: row;
  filter: brightness(1);
  gap: 1em;

  text-align: left;

  @include media-size(zero, medium) {
    flex-direction: column;
  }

  :host(:hover) & {
    box-shadow: 0 0 0 1px var(--gray-1);
  }

  :host:not([collapsed]) & {
    border-bottom-right-radius: 0;
  }
}

.content {
  @include radius('right', 7px);
  background: #fff;
  color: var(--gray-8);
  max-height: inherit;
  overflow: auto;
  @include media-size(zero, medium) {
    border-radius: 7px;
  }

  :host(:not([collapsed])) & {
    border-bottom-right-radius: 0;
  }

  &__padding {
    padding: 0.5rem;
  }
}

.ruler {
  border: 2px solid var(--primary-8);
  border-width: 2px 0 0;
  margin-left: var(--expand-card--padding);
  width: 3em;
  @include media-size(zero, medium) {
    margin: 0;
    width: 100%;
  }
}

.panel {
  @include radius('bottom', 8px);
  background-color: var(--primary-8);
  font-family: var(--body-font);
  opacity: 1;
  padding: 10px;
  transform: scale(1) translateY(0);
  transition: 250ms ease-out;
  transition-property: transform opacity;
  visibility: visible;

  &__padding {
    background: rgb(242 242 242);
    border-radius: 7px;
    padding: 10px;
  }

  :host([collapsed]:not(.is-expanding)) &,
  :host(.is-collapsing) & {
    opacity: 0;
    transform: scale(0.5) translateY(-150px);
    visibility: hidden;
  }
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 var(--expand-card--padding);
  @include media-size(zero, medium) {
    border-radius: 7px;
    padding: 1rem;
  }
  @include media-size(zero, small) {
    flex-direction: column;
  }
}

.footer__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;

  ::slotted([slot='icon']) {
    border: 1px solid var(--primary-5);
    filter: grayscale(1);
    max-height: 2rem;
    padding: 0.5rem;
  }

  &:hover {
    filter: grayscale(0);
  }

  ::slotted([slot='icon']:hover) {
    filter: grayscale(0);
  }
}

.footer__button {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

p {
  margin-right: 1em;
}

.body {
  --panel--max-height: 200px;
  max-height: var(--panel--max-height);
  min-height: 100px;
  overflow: auto;
  padding: 0 var(--expand-card--padding);
}

.button--text {
  all: unset;
  border-radius: 5px;
  color: var(--primary-10);
  cursor: pointer;
  font-family: var(--expand-card--content-font);
  font-weight: 500;
  margin: 1em;
  min-width: fit-content;
  padding: 0.75em 1em;

  &:hover {
    background-color: var(--primary-4);
  }

  &:active {
    background-color: var(--primary-6);
    box-shadow: inset 0 0 0 1px var(--primary-10);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px var(--primary-8);
  }
}

.img {
  @include radius('left', 7px);
  background-color: var(--primary-10);
  background-image: var(--panel--image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--panel--image--size);
  height: inherit;
  transition: background-size 500ms ease, filter 500ms ease-in-out;
  min-width: 120px;
  @include media-size(zero, medium) {
    border-radius: 7px;
    display: none;
  }

  :host(:not([collapsed])) & {
    border-bottom-left-radius: 0;
  }
}

p ::slotted([slot='description']) {
  color: var(--gray-10);
  font: 11pt;
  font-family: var(--expand-card--content-font);
}
