@use 'styles/mixins/button' as *;
@use 'styles/mixins/form' as *;
@use 'styles/mixins/shadows' as *;
@use 'styles/mixins/inputs' as *;

.unlock-resume {
  &__input-wrapper {
    padding: 1.5rem 0px;
  }
}
:host {
  @include hoverable-shadow(3);
}
input {
  @extend %common-input;
  &[type='text'] {
    font-size: 1.15rem;
    width: 100%;
    caret-color: var(--primary-9);
    -webkit-text-security: disc;
  }

  &::-webkit-input-placeholder {
    color: var(--gray-8);
  }
  &::placeholder {
    color: var(--gray-8);
  }
  &:hover {
    background-color: var(--gray-0);
  }
}
.unlock-resume__hint {
  font-size: 9pt;
  color: var(--gray-9);
  &--emphasis {
    font-style: normal;
  }
}

button {
  @extend %button--primary;
  font-size: 1.15rem;
}

.button[type='submit'] {
  width: 100%;
}
label {
  font-family: var(--body-font);
  font-weight: 500;
  color: var(--gray-9);
}
form {
  display: flex;
  justify-content: center;
}

fieldset {
  @extend %form-container;
  max-width: 400px;
  display: grid;
  grid-template-rows: 1rem 2.5rem 2rem 2rem;
  gap: 1rem;
}
