@use 'styles/mixins/button' as *;
@use 'styles/mixins/form' as *;
@use 'styles/mixins/shadows' as *;
@use 'styles/mixins/inputs' as *;

.unlock-resume {
  &__input-wrapper {
    padding: 1.5rem 0;
  }
}

:host {
  @include hoverable-shadow(3);
}

input {
  @extend %common-input;

  &[type='text'] {
    caret-color: var(--primary-9);
    font-size: 1.15rem;
    -webkit-text-security: disc;
    width: 100%;
  }

  &::placeholder {
    color: var(--gray-8);
  }

  &:hover {
    background-color: var(--gray-0);
  }
}

.unlock-resume__hint {
  color: var(--gray-9);
  font-size: 9pt;

  &--emphasis {
    font-style: normal;
  }
}

button {
  @extend %button--primary;
  font-size: 1.15rem;
}

.button[type='submit'] {
  width: 100%;
}

label {
  color: var(--gray-9);
  font-family: var(--body-font);
  font-weight: 500;
}

form {
  display: flex;
  justify-content: center;
}

fieldset {
  @extend %form-container;
  display: grid;
  grid-template-rows: 2rem 2.5rem 5rem 2.5rem;
  max-width: 400px;
}
