:host {
  --primary--light: var(--primary-5);
  --primary: var(--primary-7);
  --font: sans-serif;
  --font-color: var(--gray-6);
}

@mixin thumb {
  appearance: none;
  background-image: linear-gradient(rgb(246, 246, 246), rgb(233, 233, 233));
  border: 1px solid var(--gray-7);
  border-radius: 50%;
  box-shadow: rgb(63 63 63 / 50%) 0 1px 1px 0;
  height: 1.4em;
  width: 1.4em;

  &:active {
    background-image: linear-gradient(#dfdfdf, #e9e9e9);
  }

  &:hover {
    box-shadow: 0 0 0 2px rgba(23, 34, 129, 0.24);
  }
}

.range {
  animation: none !important;
  appearance: none;
  background-image: linear-gradient(
    to right,
    var(--primary--light) 0%,
    var(--primary) 100%
  );
  background-repeat: no-repeat;
  background-size: var(--range--background-size, 0% 10%);
  border: 1px solid var(--gray-5);
  border-radius: 3px;
  box-shadow: 1px 1px 4px 1px inset rgba(63, 63, 63, 0.1);
  height: 0.7em;
  outline: none;
  position: relative;
  transform: none !important;
  transition-property: none !important;
  width: 100%;

  & * {
    color: var(--font-color);
    font: var(--font);
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-slider-thumb {
    @include thumb;
    height: 2em;
    width: 2em;
  }

  &::-ms-thumb {
    @include thumb;
  }
}

.range::-ms-track {
  height: 1rem;
  width: 97%;
}

/**Slider Containers*/

.range-container {
  align-items: center;
  display: grid;
  font-size: 10pt;
  grid-template-columns: 4fr 1fr;
  padding: 0% 7.5%;
  place-self: center;
  row-gap: 0.5rem;
  width: 85%;
}

.range-container:focus-within {
  cursor: pointer;
  outline: 2px dashed rgba(0, 0, 0, 0.7);
  outline-offset: 2px;
}

.value-label {
  grid-column: 2 / 3;
}

.name-label {
  grid-column: 1 / 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.slider-container {
  grid-column: 1 / 3;
}
