/* hicks-nav */

:host {
  --nav--direction: row;
  --nav--direction-breakpoint: 600px;
  //////////////////
  --nav-item--background-color: transparent;
  --nav-item--font-color: #fff;
  --nav-item--font-size: 1.35em;
  --nav-item--font-weight: 300;
  --nav-item--font-family: sans-serif;

  --nav-item--border: none;
  --nav-item--hover--opacity: 0.7;
  --nav-item--selected--font-color: var(--secondary-8);
  display: block;
}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: var(--nav--direction);
  justify-content: center;

  &__slot {
    display: contents;
  }
}

:host(:hover) hicks-nav-item {
  opacity: var(--nav-item--hover--opacity);
}

:host(:hover) hicks-nav-item:hover {
  opacity: 1;
}
