@use 'mixins/color-variables' as *;
@use 'mixins/responsive' as *;
@use 'mixins/shadows' as *;
@use 'sass:color';
@use 'sass:string';
/*
$tree-front: string.slice(#{$primary-12}, 2, 10);
$tree-rear: string.slice(#{$primary-11}, 2, 10);
$trees: header($tree-front, $tree-rear);
*/
.header {
  &__toolbar {
    position: sticky;
    height: var(--toolbar-height);
    border-bottom: 1px solid;
    border-color: transparent;
    top: -1px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &__toggle {
      &__container {
        @include media-size('medium') {
          display: none;
        }
      }
    }
    &__svg {
      position: absolute;
      width: 1920px;
      height: inherit;
      &__path {
        fill: var(--primary-11);
      }
    }
    &__content {
      position: absolute;
      height: 90%;
      top: 0px;
      right: 3%;
      left: 3%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      z-index: 5;
      align-content: center;
      align-items: center;
      &__links {
        display: inherit;
        gap: 0.75rem;
      }
      &__section {
        color: white;
        font-size: 14pt;
      }
    }
  }
  &__grid {
    position: sticky;
    top: calc(var(--upper-height) * -1 - 1px);
    z-index: 10;
  }
  &__upper {
    height: var(--upper-height);
    display: flex;
    box-sizing: border-box;
    place-content: space-between;
    max-height: var(--upper-height);
    background-image: radial-gradient(
      at -50% -2%,
      var(--primary-10) 31%,
      var(--primary-11) 74%
    );
    padding-bottom: 20vh;
    align-items: center;
    > * {
      padding: 0vw 5vw;
    }

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      position: absolute;
      background-image: url('./icons/noise-reducedsmall.png');
      opacity: 0.2;
      mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      );
      pointer-events: none;
    }
    &__nav {
      ::slotted(hicks-nav) {
        --nav-item--font-color: white;
        --nav-item--hover--font-color: var(--secondary-3);
        --nav-item--selected--font-color: var(--secondary-8);
      }
    }
    @include media-size(zero, medium) {
      flex-direction: column;
      justify-content: start;
      padding-top: 15vh;
      &__title {
        align-self: center;
      }
    }
    @include media-size(small, medium) {
      gap: 10vh;
      &__background {
        position: absolute;
        > svg {
          height: 100%;
          width: 100%;
        }
      }
      &__nav {
        grid-area: nav;
        ::slotted(hicks-nav) {
          --nav-item--hover--opacity: 1;
          --nav-item--hover--background-color: transparent;
          --nav-item--font-color: var(--primary-2);
          --nav-item--font-weight: 300;
          --nav-item--font-family: var(--body-font);
        }
      }
      &__title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
        z-index: 1;
        grid-area: title;
      }
    }
    @include media-size(zero, small) {
      gap: 25vh;
      &__nav {
        ::slotted(hicks-nav) {
          --nav--direction: column;
          --nav--justify-content: start;
          --nav-item--hover--text-transform: uppercase;
          --nav-item--padding: 0.2em 0.75em;
          --nav-item--font--color: white;
          --nav-item--hover--font-color: white;
          --nav-item--hover--opacity: 1;
          --nav-item--border: 2px solid var(--secondary-4);
          --nav-item--radius: 1em;
          @include hoverable-shadow(3);
        }
      }
    }
  }
}

.icon {
  min-width: 1rem;
  max-width: 5rem;
  width: 10vw;
  fill: #a7aef0;
  width: clamp(1rem, 10vw, 5rem);
  &.is-collapsed {
    max-width: 4rem;
    width: 4rem;
  }
}

.divider {
  border-left: 1px solid white;
  display: block;
  box-sizing: border-box;
  margin-left: 2px;
}

hicks-nav {
  --nav--base-color: var(--gray-12);
}

.is-hidden {
  opacity: 0;
  transition: opacity 250ms ease;
}

.is-shown {
  transition: opacity 250ms ease;
  opacity: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundin {
  from {
    background-color: var(--background-color);
  }
  to {
    background-color: white;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-slide-in {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.animate-title--in {
  animation-name: fade-slide-in;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
  overflow: hidden;
}
