@use 'sass:color';
@use 'sass:string';
@use 'mixins/responsive' as *;
@use 'mixins/shadows' as *;

.header {
  &__toolbar {
    position: sticky;
    height: var(--toolbar-height);
    border-bottom: 1px solid;
    border-color: transparent;
    top: -1px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &__toggle {
      &__container {
        border-left: 2px solid var(--primary-2);
        padding-left: 1rem;
        @include media-size('medium') {
          display: none;
        }
      }
    }

    &__svg {
      position: absolute;
      width: 1920px;
      height: inherit;
      overflow: hidden;
      &__path {
        fill: var(--primary-11);
      }
    }
    &__content {
      position: absolute;
      height: 90%;
      top: 0px;
      right: 0px;
      left: 0px;
      padding: 0px 3%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      z-index: 5;
      align-content: center;
      align-items: center;
      background: var(--primary-11);
      &__links {
        display: inherit;
        gap: 0.75rem;
      }
    }
  }
  &__grid {
    position: sticky;
    top: calc(var(--upper-height) * -1 - 1px);
    z-index: 10;
  }
  &__upper {
    height: var(--upper-height);
    display: flex;
    box-sizing: border-box;
    place-content: space-evenly;
    max-height: var(--upper-height);
    background-image: radial-gradient(
      at -50% -2%,
      var(--primary-10) 31%,
      var(--primary-11) 74%
    );
    padding-bottom: 20vh;
    align-items: center;
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      position: absolute;
      background-image: url('./icons/noise-reducedsmall.png');
      opacity: 0.2;
      mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      );
      pointer-events: none;
    }

    @include media-size(zero, medium) {
      flex-direction: column;
      justify-content: start;
      padding-top: 15vh;
      &__title {
        align-self: center;
      }
    }
    @include media-size(small, medium) {
      gap: 10vh;
      &__background {
        position: absolute;
        > svg {
          height: 100%;
          width: 100%;
        }
      }
      &__nav {
        grid-area: nav;
      }
      &__title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
        z-index: 1;
        grid-area: title;
      }
    }
    @include media-size(zero, small) {
      gap: 25vh;
    }
  }
}

.icon {
  min-width: 1rem;
  max-width: 5rem;
  width: 10vw;
  fill: #a7aef0;
  width: clamp(1rem, 10vw, 5rem);
  &.is-collapsed {
    max-width: 4rem;
    width: 4rem;
  }
}

hicks-nav {
  --nav--base-color: var(--gray-12);
}

.is-hidden {
  opacity: 0;
  transition: opacity 250ms ease;
}

.is-shown {
  transition: opacity 250ms ease;
  opacity: 1;
}
