@use 'sass:color';
@use 'sass:string';
@use 'mixins/responsive' as *;
@use 'mixins/shadows' as *;

.toolbar {
  border-bottom: 1px solid;
  border-color: transparent;
  display: flex;
  height: var(--toolbar-height);
  justify-content: center;
  overflow: hidden;
  position: fixed;
  position: sticky;
  top: -1px;
}

.toolbar__toggle__container {
  border-left: 1px solid var(--primary-7);
  padding-left: 1rem;
  padding-top: 0.2rem;
  @include media-size('medium') {
    display: none;
  }
}

.toolbar__svg {
  height: inherit;
  overflow: hidden;
  position: absolute;
  width: 1920px;

  &__path {
    fill: var(--primary-11);
  }
}

.toolbar__content {
  align-content: center;
  align-items: center;
  background: var(--primary-11);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90%;
  justify-content: space-between;
  left: 0;
  padding: 0 3%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;

  &__links {
    display: inherit;
    gap: 0.75rem;
  }
}

.container {
  position: sticky;
  top: calc(var(--upper-height) * -1 - 1px);
  z-index: 10;
}

.upper {
  align-items: center;
  background-image: radial-gradient(
    at -50% -2%,
    var(--primary-10) 31%,
    var(--primary-11) 74%
  );
  box-sizing: border-box;
  display: flex;
  height: var(--upper-height);
  max-height: var(--upper-height);
  padding-bottom: 5rem;
  place-content: space-evenly;

  @include media-size(zero, medium) {
    flex-direction: column;
    justify-content: start;
    padding-top: 5rem;

    &__title {
      align-self: center;
    }
  }
  @include media-size(small, medium) {
    gap: 3rem;

    &__background {
      position: absolute;

      > svg {
        height: 100%;
        width: 100%;
      }
    }

    &__nav {
      grid-area: nav;
    }

    &__title {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
      grid-area: title;
      z-index: 1;
    }
  }
  @include media-size(zero, small) {
    gap: 2rem;
  }
}

.icon {
  --header--icon-width: clamp(1rem, 3rem, 5rem);
  fill: #a7aef0;
  max-width: 5rem;
  min-width: 1rem;
  width: 5rem;
  width: var(--header--icon-width, 3rem);

  &.is-collapsed {
    max-width: 4rem;
    width: 4rem;
  }
}

hicks-nav {
  --nav--base-color: var(--gray-12);
}

.is-hidden {
  opacity: 0;
  transition: opacity 250ms ease;
}

.is-shown {
  opacity: 1;
  transition: opacity 250ms ease;
}
