@keyframes rotate-el {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-el-parent {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon-dimensions {
  height: var(--status--icon-height, 1.5rem);
  min-height: 1.5rem;
  min-width: 1.5rem;
  width: var(--status--icon-width, 1.5rem);
}

.loading-parent {
  animation: 1s ease-in-out infinite running rotate-el-parent;
}

.loading {
  animation: 3s ease-in-out 0s infinite normal none running rotate-el;
  fill: var(--secondary-8);
  transform-origin: center;
}

.loading-reverse {
  animation: 2s linear 0s infinite none running rotate-el;
  fill: var(--status-color);
  transform-origin: center;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

.checkmark {
  animation: fill 0.4s ease-in-out 0.4s forwards, 0.9s both;
  display: block;
  stroke: var(--status-color);
  stroke-miterlimit: 20;
  stroke-width: 4;
}

.checkmark__check {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transform-origin: 50% 50%;
}

.status-container {
  align-items: center;
  background: var(--status-background);
  border: 1px solid;
  color: var(--status-color);
  display: flex;
  flex-direction: row;
  font-family: var(--title-font);
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
  justify-content: center;
  margin: 2.5rem;
  padding: 0.6rem;
}

:host([status='0']) {
  --status-color: var(--primary-10);
  --status-background: var(--primary-1);
}

:host([status='1']) {
  --status-color: var(--complement-10);
  --status-background: var(--complement-1);
}

:host([status='2']) {
  --status-color: var(--primary-10);
  --status-background: var(--primary-1);
}

:host([status='3']) {
  --status-color: var(--secondary-10);
  --status-background: var(--secondary-1);
}

@keyframes warning {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.warning {
  animation: warning 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
