.menu-icon {
  height: 2rem;
  transform-origin: center center;
  width: 2rem;

  * {
    transform-origin: center center;
  }

  &:hover {
    will-change: transform;
  }

  .top-bun {
    transform: rotate(0deg) translateY(0%);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .middle-bun {
    transform: scaleX(1);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .bottom-bun {
    transform: rotate(0deg) translateY(0%);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.menu-icon.animate-close {
  .top-bun {
    transform: rotate(45deg) translateY(20.8%);
  }

  .middle-bun {
    transform: scale(0.1);
  }

  .bottom-bun {
    transform: rotate(-45deg) translateY(-20.8%);
  }
}
