@use 'styles' as *;
.layout {
    display: grid;
    grid-template-rows: auto 40vh;
    grid-template-columns: 1fr 1fr 1fr;
    @include bem-element('table-of-contents') {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    @include bem-element('content') {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    @include bem-element('footer') {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        background: var(--gray-5);
    }
}