@use 'styles/mixins/shadows' as *;
@use 'styles/mixins/responsive' as *;
@use 'styles/mixins/button' as *;
@use 'styles/mixins/palette' as *;
@use 'styles/mixins/variables' as *;

@import 'styles/normalize';

html {
  scroll-behavior: smooth;
  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

.skip-to-content {
  background-color: var(--gray-9);
  color: #fff;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  text-decoration: none;
  transform: translateY(-150%);
  transition: transform 0.3s;
  z-index: 11;

  &:focus {
    transform: translateY(0%);
  }
}

html,
body {
  box-sizing: border-box;
  font-family: var(--body-font);
  @include media-size(zero, medium) {
    .has-open-menu {
      overflow: hidden;
      padding-right: 18px;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2 {
  font-size: 24pt;

  section[id='resume'] &::after {
    background: #fff;
    content: '';
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
  }
}

h3 {
  font-size: 14pt;

  section[id='resume'] &:not(:target)::after {
    background: #fff;
    bottom: 0;
    content: '';
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: -20px;
    width: 100%;
    z-index: -1;
  }

  section[id='resume'] &:target::after {
    background: #fff;
    bottom: 0;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    z-index: -1;
  }
}

h4 {
  font-size: 16pt;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--gray-1);
  margin: 0;
  min-height: 100%;
  padding: 0;
}

background-animation {
  --background-color: var(--primary-9);
}

section {
  @include media-size('zero', 'small') {
    margin: 0 1rem;
  }
  @include media-size('small', 'medium') {
    margin: 0 2rem;
  }
}

.layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto var(--sidebar-width);
  justify-content: center;
  margin-left: 1rem;
  max-width: calc(100vw - 1rem);
  padding-bottom: 200px;
  @include media-size('zero', 'medium') {
    display: block;
    margin: 0;
    max-width: 100vw;
  }
  @include media-size('medium') {
    grid-template-columns: auto var(--sidebar-width);
  }

  .content {
    @include hoverable-shadow(3, 3px);
    @include shadow(2, 2px);
    background-color: #fff;
    grid-column: 1 / 2;
    height: 100%;
    margin-top: 1rem;
    max-width: 800px;
    min-width: 350px;
    padding: 4rem;
    padding-bottom: 150px;
    position: relative;
    @include media-size('zero', 'medium') {
      display: block;
      grid-column: none;
      max-width: 100%;
      padding: 1rem 1rem 150px;

      &::after {
        box-shadow: none;
      }
    }
  }

  .toc {
    grid-column: 2 / 3;
    @include media-size('medium', 'large') {
      display: flex;
      justify-content: center;
    }
    @include media-size('zero', 'medium') {
      grid-column: none;
      height: 100vh;
      position: fixed;
      top: 0;
      visibility: hidden;
      width: 100vw;

      .has-open-menu & {
        display: flex;
        visibility: visible;
        z-index: 100;
      }
    }
  }

  &.is-mobile {
    grid-template-columns: 1fr;
  }
}

.header__logo-wrapper {
  fill: var(--primary-7);
  height: 3rem;
  width: 4.5rem;
}

.icon--social {
  height: 1.2em;
  width: 1.2em;
}

.menu-icon {
  height: 2rem;
  transform-origin: center center;
  width: 2rem;

  * {
    transform-origin: center center;
  }

  &:hover {
    will-change: transform;
  }

  .top-bun {
    transform: rotate(0deg) translateY(0%);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .middle-bun {
    transform: scaleX(1);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .bottom-bun {
    transform: rotate(0deg) translateY(0%);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.menu-icon.toggled {
  .top-bun {
    transform: rotate(45deg) translateY(20.8%);
  }

  .middle-bun {
    transform: scale(0.1);
  }

  .bottom-bun {
    transform: rotate(-45deg) translateY(-20.8%);
  }
}

.sticky {
  position: sticky;
  top: var(--toolbar-height);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

a {
  color: var(--primary-10);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header__navigation {
  --nav-item--font-weight: 300;
  --nav-item--font-color: #fff;
  --nav-item--hover--font-color: var(--secondary-3);
  --nav-item--selected--font-color: var(--complement-5);
  --nav-item--font-size: 1.25rem;
  --nav-item--padding: 0.75em 0;

  @include media-size('zero', 'small') {
    --nav--direction: column;
    --nav--justify-content: start;
    --nav--gap: 1rem;
    --nav-item--font-size: 1.35rem;
    --nav-item--padding: 0.5em 0;
  }
}

:target {
  &::before {
    --scroll-offset: calc(var(--toolbar-height, 65px) + 10px);
    content: ' ';
    display: block;
    height: var(--scroll-offset);
    margin-top: calc(-1 * var(--scroll-offset));
    visibility: hidden;
  }
}
