///////////////////////////
@use "content";
@use "./util/mixins" as mix;
@use 'util/fonts' as font;
@import 'util/normalize';
@import 'util/variables';
@import 'util/component-vars';
.hidden {
    padding: 8px;
    position: absolute;
    background: var(--gray-8);
    left: 50%;
    height: 20px;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

a.hidden:focus {
    transform: translateY(0%);
}

a.hidden {
    color: white;
    text-decoration: none;
}

html,
body {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    width: 100%;
    @include font.body1;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--gray-1);
}

background-animation {
    --background-color: var(--primary-9);
}

.layout {
    display: grid;
    grid-template-columns: 8fr 4fr;
    & .center {
        grid-column: 2 / 3;
        height: 100%;
        width: 100%;
        background-color: white;
        padding: 3rem;
        margin-top: 5rem;
        position: relative;
        @include mix.hoverable-shadow(3);
    }
    & .left {
        grid-column: 1 / 2;
    }
    & .right {
        grid-column: 3 / 4;
    }
    &.is-mobile {
        grid-template-columns: 1fr;
    }
    @include mix.bp(md) {
        grid-template-columns: 8fr 4fr;
    }
    @include mix.bp(sm) {
        grid-template-columns: 1fr;
    }
}

.header__logo-wrapper {
    height: 60px;
    width: 90px;
    fill: var(--primary-7);
}