@use 'sass:map';

@mixin gen-font-var(
  $pref: '',
  $include: (
    'style': auto,
    'variant': auto,
    'size': auto,
    'line-height': auto,
    'family': auto,
  )
) {
  $font-str: '';
  $keys: map.keys($include);
  @each $prop in $keys {
    @if $prop == 'color' {
      color: var(unquote('--#{$pref}--font-color'));
    } @else {
      $font-str: $font-str + 'var(--#{$pref}--font-#{$prop}) ';
    }
  }
  font: unquote($font-str);
}
